mixin orderForm(orderType, action, buttonText)
  - var style = 'display: none'
  if orderType == 'native'
    - var style = ''

  form.form(action=action data-order-form data-type=orderType style=style)
    .invalid-feedback.invalid-feedback--form

    input(type="hidden" name="type" value=orderType)

    if orderType == 'other'
      label.form-field.form-field--short
        input.input(type="email" placeholder="E-mail" name="email" required)
        .invalid-feedback

      lable.form-field
        textarea.textarea(type="email" rows="4" placeholder="Опишите ваш вопрос/предложение" name="question" required)
        .invalid-feedback

    else
      label.form-field.form-field--short
        input.input(type="text" placeholder="Название компании" name="company" required)
        .invalid-feedback

      label.form-field.form-field--short
        input.input(type="text" placeholder="ФИО" name="name" required)
        .invalid-feedback

      label.form-field.form-field--short
        input.input(type="text" placeholder="Номер телефона" name="phone" required)
        .invalid-feedback

    button.btn(type="submit") #{buttonText}

    footer.form__footer
      |Нажимая на кнопку #{buttonText}, вы соглашаетесь с #[a(href="#" target="_blank") Правилами пользования сайтом]  и даете согласие на #[a(href="#" target="_blank") Обработку персональных данных].
