.screen#audience(data-screen="audience")
  .container
    .offset
    .content
      h2.h2.screen__title Аудитория
      .statistics.slider
        .slider(data-slider="statistics" data-type=audience.controls[0].id)
          .embla
            .slider__slides.embla__slides
              each slide in audience.controls
                .slide(data-type=slide.id)
                  if slide.id == 'experience'
                    include ../statistics/experience.pug
                  else if slide.id == 'general'
                    include ../statistics/general.pug
                  else if slide.id == 'geography'
                    include ../statistics/geography.pug
                  else if slide.id == 'langs'
                    include ../statistics/langs.pug
                  else if slide.id == 'segments'
                    include ../statistics/segments.pug

          .slider__controls(data-controls)
            each slide, index in audience.controls
              .control.upper(data-control=slide.id data-index=index)
                span #{slide.control}

        .accordion(data-accordion)
          each slide in audience.controls
            .accordion-section
              .accordion-section__header.upper(tabindex=0) #{slide.control}
              .accordion-section__content
                if slide.id == 'experience'
                  include ../statistics/experience.pug
                else if slide.id == 'general'
                  include ../statistics/general.pug
                else if slide.id == 'geography'
                  include ../statistics/geography.pug
                else if slide.id == 'langs'
                  include ../statistics/langs.pug
                else if slide.id == 'segments'
                  include ../statistics/segments.pug
